tags:
  - coding
summary: 根据上下文补全代码
description: 根据上下文补全代码
parameters:
  - $ref: "@parameters/authToken.yml.njk"
  - $ref: "@parameters/lang.yml.njk"
requestBody:
  required: true
  content:
    application/json:
      schema:
        type: object
        required:
          - beforeContent
          - afterContent
        properties:
          beforeContent:
            type: string
            description: 编辑器光标前面的代码
          afterContent:
            type: string
            description: 编辑器光标后面的代码
responses:
  "200":
    description: "成功"
    headers:
      Access-Control-Allow-Origin:
        schema:
          type: string
          default: "*"
    content:
      application/json:
        schema:
          type: array
          items:
            type: string
          description: 生成代码候选列表
  "500":
    description: 失败
    headers:
      Access-Control-Allow-Origin:
        schema:
          type: string
          default: "*"
    content:
      application/json:
        schema:
          $ref: "@schemas/errInfo.yml.njk"
