.workbench_wrap {
  height: 100%;
  padding: 10px;
  overflow: hidden;

  .infoCount_wrap {
    height: 96px;
  }
  .my_wrap {
    height: calc(100vh - 164px);
    margin: 10px 0;
    background-color: white;
    overflow: hidden;
    border-radius: 9px;
    // border: 1px solid red;
    .content_wrap {
      // border: 1px solid red;
      height: calc(100vh - 222px);
      overflow-y: scroll;
      padding: 0px 10px;
    }
    h2 {
      font-size: 14px;
      font-weight: 400;
      padding-top: 5px;
    }
    :global(.ant-tabs-nav-wrap) {
      display: inline-block !important;
    }
  }
}
