.panel_wrap {
    // border: 1px solid red;
    height: calc(100vh - 225px);
    overflow: hidden;

    .user_app_wrap {
        width: 100%;
        height: calc(100vh - 225px);
        overflow-x: hidden;
        overflow-y: scroll;
        // border: 1px solid red;
    }
}