.appStore {
  padding: 20px 30px;
  .appStoreHd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > h2 {
      color: #202021;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
    }
  }
  .appStoreBd {
    .info {
      padding: 14px;
      color: #666;
      font-weight: 400;
      line-height: 17px;
      background: #f8f8f8;
      border-radius: 6px;
      h3 {
        color: #2f3338;
        font-weight: 500;
        line-height: 14px;
      }
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.appList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0;
  .item {
    position: relative;
    width: 116px;
    margin: 0 14px 10px 0;
    cursor: pointer;
    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 116px;
      height: 116px;
      background: #f5f5f5;
      img {
        width: 70%;
      }
    }

    .title {
      color: #2f3338;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
    }

    .delete {
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 1;
      padding: 4px 4px 0;
      color: #fff;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      cursor: pointer;
      opacity: 0;
      transition: all 0.5s;
    }
    &:hover {
      .delete {
        opacity: 1;
        &:hover {
          color: #2997ff;
        }
      }
    }
  }
  .item:nth-child(4) {
    margin-right: 0;
  }
}
