.toolbar {
  position: fixed;
  top: 40px;
  right: 0;
  bottom: 0;
  z-index: 500;
  width: 59px;
  overflow: hidden;
  background: #f6f6f8;
  border: 1px solid #e4e4e8;
  height: calc(100vh - 85px);
  // border: 1px solid red;

  .menu,
  .menuCurrent {
    width: 30px;
    height: 30px;
    margin: 10px auto;
    cursor: pointer;
  }

  .menu:hover {
    opacity: 0.6;
  }

  @menuItems: idea, task, bug, setting, invite, record, access, appraise, appstore, sprit, req, dataanno, apicoll, code;

  .for(@data, @i: 1) when(@i =< length(@data)) {
    @item: extract(@data, @i);

    .menu[data-menu-id='@{item}'] {
      background: url('@/assets/allIcon/icon-@{item}.png');
      background-size: 100%;
    }

    .menuCurrent[data-menu-id='@{item}'] {
      background: url('@/assets/allIcon/icon-@{item}-a.png');
      background-size: 100%;
    }

    .for(@data, (@i + 1));
  }

  .for(@menuItems);

  :global(.ant-divider) {
    margin: 0;
  }
}