.add {
  text-align: right;
  button {
    height: 26px;
    border: 1px solid #1b89ff;
  }
}

.EditIssueRef_table {
  th,
  tr,
  td {
    border: none !important;
  }

  user-select: none;
  :global {
    .ant-table-tbody > tr > td {
      border-bottom: 1px solid #f0f0f0 !important;
      // transition: background 0.3s;
    }
  }
}
