.add {
  text-align: right;

  button {
    height: 26px;
    border: 1px solid #1b89ff;
  }
}

.EditIssueRef_table {

  th,
  tr,
  td {
    border: none !important;
  }

  user-select: none;

  :global {
    .ant-table-tbody>tr>td {
      border-bottom: 1px solid #f0f0f0 !important;
      // transition: background 0.3s;
    }
  }
}

.sync_wrap {
  position: relative;
  width: 100%;
  height: 30px;

  .sync {
    position: absolute;
    right: 20px;
  }
}

.sprit_info_wrap {
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e8;
  .sprit_info {
    display: flex;
    padding: 2px 0px;

    .label {
      width: 80px;
      text-align: right;
      padding-right: 10px;
    }
  }
}