.blockContent h1 {
    font-size: 400%;
}

.blockContent h2 {
    font-size: 350%;
}

.blockContent h3 {
    font-size: 300%;
}

.blockContent h4 {
    font-size: 250%;
}

.blockContent h5 {
    font-size: 200%;
}

.blockContent h6 {
    font-size: 150%;
}
