.pj_detail_wrap {
  box-sizing: border-box;
  padding: 23px 30px 0;
  .btn_wrap {
    position: absolute;
    top: 14px;
    right: 30px;
    .cancel {
      margin-right: 8px;
    }
  }
  :global(.ant-input-affix-wrapper) {
    border-radius: 6px;
  }
  :global(.ant-form-item-label > label) {
    font-weight: 550;
    font-size: 14px;
  }
}
