.card_wrap {
    background-color: white;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    .head {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }
    .member {
        line-height: 30px;
    }
    .tips {
        margin-top: 10px;
    }
    .title {
        font-size: 16px;
        font-weight: 500;
    }
}

.disable {
    background-color: #eee;
}