.post_wrap {
    display: flex;
    // border: 1px solid red;

    .post {
        height: calc(100vh - 110px);
        overflow-y: scroll;
        overflow-x: hidden;
        flex: 1;
        // border: 1px solid red;

    }

    .toc {
        width: 200px;
        border-left: 1px solid #e4e4e8;
        // border: 1px solid red;
    }
}