.details_nav_wrap {
  height: 50px;
  border-bottom: 1px solid #f0f0f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  .title {
    display: flex;
    align-items: center;
    font-weight: 550;
    color: #2c2d2e;
    font-size: 14px;
    line-height: 30px;
    img {
      vertical-align: middle;
      height: 13px;
      margin-right: 12px;
    }
  }
  .child {
    button {
      margin-right: 10px;
    }
  }
}
