.layout {
  height: 100%;
  background-color: #fff;
}

.sider {
  height: calc(100vh - 86px);
  overflow: hidden;
  margin-right: 60px;
  background-color: #fff;
  border-left: 1px solid #eaeaef;
  // border: 1px solid red;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.panel {
  :global(.ant-collapse-content .ant-collapse-content-box) {
    padding: 0px 0px;
  }
}

.header {
  display: flex;
}

.add {
  display: block;
  padding: 3px;
  border-radius: 4px;
  margin-right: 1px;

  &:hover {
    background-color: #EAEAEF;
  }

  .icon {
    display: block;
    width: 14px;
    height: 14px;
    background-image: url('@/assets/allIcon/icon-add-channel.png');
    background-image: -webkit-image-set(url('@/assets/allIcon/icon-add-channel.png') 1x, url('@/assets/allIcon/icon-add-channel@2x.png') 2x);
    background-size: contain;
    background-repeat: no-repeat;

  }
}

.more {
  composes: add;

  .icon {
    background-image: url('@/assets/allIcon/icon-more-channel.png');
    background-image: -webkit-image-set(url('@/assets/allIcon/icon-more-channel.png') 1x, url('@/assets/allIcon/icon-more-channel@2x.png') 2x);
  }
}