.content_wrap {
    height: 100%;
    padding: 10px 20px 10px 20px;

    .panel_wrap {
        // border: 1px solid black;
        display: flex;
        height: calc(100vh - 180px);
        overflow: hidden;
    }
}

.cate_item {
    position: relative;

    h3 {
        width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .more {
        position: absolute;
        right: -10px;
        top: 0px;
    }
}