.search_wrap {
    margin-left: 20px;
    padding-left: 20px;
    height: 30px;
    display: flex;
    border-left: 1px solid #eaeaef;
    .more {
        font-size: 20px;
        line-height: 32px;
    }
}