tags:
  - dev
summary: 生成authToken,只在开发模式下有效
description: 生成authToken,只在开发模式下有效
operationId: "{{ uniqueOpId() }}"
requestBody:
  required: true
  content:
    application/json:
      schema:
        type: object
        required:
          - contextValue
          - randomStr
          - secret
        properties:
          contextValue:
            type: string
            description: 上下文信息
          randomStr:
            type: string
            description: 随机字符串，加密因子。需要32位长度以上
          secret:
            type: string
            description: 共享密钥
responses:
  "200":
    description: "成功"
    headers:
      Access-Control-Allow-Origin:
        schema:
          type: string
          default: "*"
    content:
      application/json:
        schema:
          type: object
          required:
            - token
          properties:
            token:
              type: string
              description: 登录凭证
  "500":
    description: 失败
    headers:
      Access-Control-Allow-Origin:
        schema:
          type: string
          default: "*"
    content:
      application/json:
        schema:
          $ref: "@schemas/errInfo.yml.njk"
