.member_wrap {
  .tab {
    writing-mode: vertical-rl;
    width: 25px;
    font-size: 14px;
  }

  :global(.ant-table-thead > tr > th) {
    border: none;
  }

  :global(.ant-table-tbody > tr > td) {
    border: none;
  }
}