tags:
  - coding
summary: 解释选择代码
description: 解释选择代码
parameters:
  - $ref: "@parameters/authToken.yml.njk"
  - $ref: "@parameters/lang.yml.njk"
requestBody:
  required: true
  content:
    application/json:
      schema:
        type: object
        required:
          - content
        properties:
          content:
            type: string
            description: 代码内容
responses:
  "200":
    description: "成功"
    headers:
      Access-Control-Allow-Origin:
        schema:
          type: string
          default: "*"
    content:
      application/json:
        schema:
          type: array
          items:
            type: string
          description: 生成解释结果候选列表
  "403":
    description: 没有权限
    headers:
      Access-Control-Allow-Origin:
        schema:
          type: string
          default: "*"
    content:
      application/json:
        schema:
          $ref: "@schemas/errInfo.yml.njk"
  "500":
    description: 失败
    headers:
      Access-Control-Allow-Origin:
        schema:
          type: string
          default: "*"
    content:
      application/json:
        schema:
          $ref: "@schemas/errInfo.yml.njk" 