.basicContent {
  height: calc(100vh - 40px);

  &.showbottomnav {
    height: calc(100vh - 85px);
  }
}

.projectLayout {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-top: 1px solid #eaeae8;
  border-bottom: 1px solid #eaeae8;

  .toolsModel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 499;
    width: 100%;
    height: 100%;
    // pointer-events: none;
    // background: yellow;
    background: rgba(0, 0, 0, 0.2);
  }
}

.knowledgeBaseLayout {
  display: flex;
  align-content: flex-end;
  margin-right: 60px;
  height: 100%;
}

.basicLayout {
  background-color: #1d2330;
  height: 100vh;
}

.groupLayout {
  background-color: white;
  height: calc(100vh - 40px);
  overflow: hidden;
  border: 1px solid #e4e4e8;
}