.content_wrap {
    box-sizing: border-box;
    padding: 23px 30px 0;

    .api_btn_wrap {
        position: absolute;
        top: 14px;
        right: 30px;
    }

    .info_wrap {
        display: flex;
        height: 38px;
        flex: 1;

        .info_label {
            width: 80px;
            text-align: right;
        }

        .info_value {
            width: 400px;

            input {
                width: 150px;
            }
        }
    }
}