.swiper_wrap {
  position: relative;
  // z-index: 1;
  width: 100%;
  height: 100%;
  background: #969a9f;
  background: url('@/assets/swiper/img1.png') no-repeat;
  background-size: cover;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    // border: 1px solid red;
    img {
      width: 43px;
      height: 34px;
    }
  }
  .info {
    margin-top: 30px;
    color: #fff;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 10px;
    white-space: nowrap;
    b {
      // position: relative;
      // left: -60px;
      // top: 40px;
      font-size: 30px;
    }
  }
}
